@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Personal Administrativo</h1>
        <p class="lead">Bienvenido a tú modulo.</p>
    </section>
</main>

<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-9">
                        <h6>Cantidad de Eventos</h6>
                        <h6 id="Total de clientes">@ViewBag.totalevento</h6>
                    </div>
                    <div class="col-sm-3">
                        <i class="fas fa-evernote fa-2x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6">
        <div class="card bg-success text-white mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-9">
                        <h6>Usuarios Administrativos</h6>
                        <h6 id="Total de clientes">@ViewBag.totaladministrativo</h6>
                    </div>
                    <div class="col-sm-3">
                        <i class="fas fa-user fa-2x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6">
        <div class="card bg-warning text-white mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-9">
                        <h6>Registros de asistencias</h6>
                        <h6 id="Total de clientes">0</h6>
                    </div>
                    <div class="col-sm-3">
                        <i class="fas fa-pencil fa-2x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-9">
                        <h6>Aprendices</h6>
                        <h6 id="Total de clientes">@ViewBag.totalaprendices</h6>
                    </div>
                    <div class="col-sm-3">
                        <i class="fas fa-user fa-2x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>