
@{
    ViewBag.Title = "Firma";
    Layout = "~/Views/Shared/_Layout A.cshtml";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Firma Digital</title>
    <link rel="stylesheet" href="StyleSheeta.css">
    <link rel="" href="StyleSheeta.css">
</head>
<body>
    <h2>Firma Digital</h2>
    <div class="signature-container">
        <canvas id="signature-pad" width="400" height="200"></canvas>
    </div>
    <button id="clear-button">Limpiar</button>
    <button id="save-button">Guardar Firma</button>

    <script src="script.js"></script>
</body>
</html>

